<a href="https://colab.research.google.com/github/arthur-iesb/Cost_of_Living/blob/master/Cost_of_Living.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
'''
SOFTWARES PARA USO EM CIÊNCIA DE DADOS II
PROJETO 01/03 - Pima Indians Diabetes Database
PROFESSOR: NASSER BOAN
ALUNO: ARTHUR FARIAS
MATRÍCULA: 1931133115
'''

In [2]:
## IMPORTANDO AS BIBLIOTECAS QUE SERÃO UTILIZADAS NO PROJETO ##
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
## IMPORTANDO A BASE E REALIZANDO OS TRATAMENTOS ##
df = pd.read_csv('/content/drive/My Drive/git/Cost_of_Living/data/cost-of-living.csv',sep=',',encoding='iso-8859-1')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Columns: 161 entries, Unnamed: 0 to Quito, Ecuador
dtypes: float64(160), object(1)
memory usage: 69.3+ KB

In [10]:
df.head()

                                          Unnamed: 0  ...  Quito, Ecuador
0                       Meal, Inexpensive Restaurant  ...            3.59
1  Meal for 2 People, Mid-range Restaurant, Three...  ...           31.45
2     McMeal at McDonalds (or Equivalent Combo Meal)  ...            5.39
3                  Domestic Beer (0.5 liter draught)  ...            1.35
4                  Imported Beer (0.33 liter bottle)  ...            2.70

[5 rows x 161 columns]

In [0]:
plt.figure(figsize=(15,3))
sns.heatmap(df.corr(),annot=True)